.navbar {
  width: 100%;
  background-color: blue;
}

.navbar-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links a:first-child {
  margin-right: 20px;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

.form-element {
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
}

.button {
  margin-top: 20px;
}

textarea {
  min-height: 60px;
}
